<li>
	{{burgerName}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		EAT ME!
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
